<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{$status}后台管理中心</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
    <link rel="shortcut icon" href="images/icon/favicon.ico" />

    <link href="../resource/easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../resource/easyui/themes/icon.css" type="text/css" />
    <link href="css/default.css" rel="stylesheet" type="text/css" />

    <script src="../resource/easyui/jquery.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>

    <script src="js/common.js" type="text/javascript"></script>

    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <script src="js/index.js" type="text/javascript"></script>
    <script src="js/nav.js" type="text/javascript"></script>

	<script type="Text/Javascript" language="JavaScript">
		<!--
		{literal}
		if (window.top != window)
		{
		  window.top.location.href = document.location.href;
		}
		{/literal}
		//-->
	</script>
</head>
<body class="easyui-layout" id="fullScreen">
    <noscript>
        <div style="position: absolute; z-index: 100000; height: 2046px; top: 0px; left: 0px; width: 100%; background: white; text-align: center;">
            <img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>

     <!-- 固定写法，用于加载ajax正在处理提示 -->
    <div id="loadingDiv" style="display:none;"></div>
    
    <div region="north" split="true" class="winHeader">
         <div class="userOpera">
         	<a href="javascript:void(0);" onclick="closeTab('mm-tabupdate');">刷新页面</a>|
            <a href="javascript:void(0);" id="editpass">修改密码</a>|
            <a href="javascript:void(0);" onclick="logOut()">安全退出</a>
            <a href="../index.php" target="_blank">查看首页</a>
        </div>

        <div class="userInfo">
       		欢迎您——{$admin.school},{$admin.class},家长{$admin.admin_name}！
        </div>
        
        <div style="clear:both;"></div>
        
         
    </div>


    <div region="west" title="导航菜单"  split="true" title="west" style="width:180px;" id="west">
        <div id="nav" class="easyui-accordion" data-options="fit:true,border:true">
        	
        	{foreach from=$menus item=menu}
			<div title="{$menu.title}">
			
				<ul class="navlist">
				{foreach from=$menu.submenus item=sm}
				<li><div><a ref="{$sm.id}" href="#" rel="{$sm.url}" ><span class="icon-nav icon"></span>{$sm.title}</a></div></li>
				{/foreach}
				</ul>
				
			</div>
        	{/foreach}
        	
        </div>
    </div>


    <div region="south" class="winFooter" split="true" style="height: 26px;">
        版权所有@ 2014 磐盛科技
        <div class="userInfo" style="color:red;">
       		支付账号：585963166883，账户名：长沙磐盛信息科技有限公司（中国银行长沙市湘雅支行）
        </div>
    </div>


 
    <div id="center" region="center" style="background: #eee; overflow-y: hidden">
        <div id="tabs" class="easyui-tabs" fit="true" border="false"></div>
    </div>
    
    <div id="win_changepwd" class="easyui-window" closed="true" title="修改密码" icon="icon-save" style="width: 350px; height: 190px; padding: 5px; background: #fafafa;">
        <div class="easyui-layout" fit="true">
                <form id="win_changepwd_form" name="win_changepwd_form" method="post">
                <table cellpadding="3" align="center">
                    <tr>
                        <td>
                            旧密码：
                        </td>
                        <td>
                            <input id="OldPassword" name="OldPassword" type="password" class="easyui-validatebox" required="true" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            新密码：
                        </td>
                        <td>
                            <input id="NewPassword" name="NewPassword" type="password" class="easyui-validatebox" required="true" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            确认密码：
                        </td>
                        <td>
                        	<input type="hidden" name="student_id" value="{$student_id}"/>
                            <input id="NewPasswordRe" name="NewPasswordRe" type="password" class="easyui-validatebox" required="true" validtype="equalTo['#NewPassword']" />
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="2" style="text-align:center">
                    		<a id="btnEp" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)">确定</a>
                			<a id="btnCancel" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">关闭</a>
                    	</td>
                    </tr>
                </table>
                </form>
        </div>
    </div>
    
    <div id="mm" class="easyui-menu" style="width: 150px;" title="多标签右键菜单">
        <div id="mm-tabupdate">
            刷新</div>
        <div id="mm-tabopen">
            独立打开</div>
        <div class="menu-sep">
        </div>
        <div id="mm-tabclose">
            关闭</div>
        <div id="mm-tabcloseall">
            全部关闭</div>
        <div id="mm-tabcloseother">
            除此之外全部关闭</div>
        <div class="menu-sep">
        </div>
        <div id="mm-tabcloseright">
            当前页右侧全部关闭</div>
        <div id="mm-tabcloseleft">
            当前页左侧全部关闭</div>
    </div>
</body>
</html>
