<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>通知通告</title>
    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="images/icon/favicon.ico" />

    <link href="../resource/easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../resource/easyui/themes/icon.css" type="text/css" />
    <link href="css/default.css" rel="stylesheet" type="text/css" />
	<link href="css/notice.css" rel="stylesheet" type="text/css" />

    <script src="../resource/easyui/jquery.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>

    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/notice.js" type="text/javascript"></script>
    

    <script type="text/javascript">
    	var error = "{$error}";
    	$(function(){
    		if(error){
    			showError(error);
    		}
    		
    	});
    	
    	function goback(){
    		
    	}
       //公共变量初始化
    </script>
</head>
<body class="easyui-layout">
    <noscript>
        <div style="position: absolute; z-index: 100000; height: 2046px; top: 0px; left: 0px;
            width: 100%; text-align: center;">
            <img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    
    
     <!-- 固定写法，用于加载ajax正在处理提示 -->
    <div id="loadingDiv" style="display:none;"></div>
    
   <div style="border:4px solid #fcf8f7; background-color:#fff; padding:20px 15px;max-width:1200px;">
      <div class="tc" style="padding:8px;">
      	<font class="f5 f6">{$notice.title|escape:html}</font><br /><font class="f3">{$notice.author|escape:html} / {$notice.created}</font>
      </div>
      <!-- {if $notice.content } -->
       {$notice.content}
      <!-- {/if} -->
      
      <div style="margin-top:20px;"></div>
      {if $attachs }
      <div style=" float: left;"><span>附　件</span></div>
      <div style="clear:both;"></div>
       {foreach from=$attachs item=at}
       <div><a href="download.php?act=download&path={$at.path}" target="_blank">{$at.name}&nbsp;&nbsp;({$at.size}kb)</a></div>
       {/foreach}
       {/if}
       
      <div style="padding:8px; margin-top:15px; text-align:left; border-top:1px solid #ccc;">
      {if $show_back eq 1}
      	<a href="javascript:void(0)" onclick="history.go(-1);" class="easyui-linkbutton" iconCls="icon-back" >返回</a>
      {/if}
      <!-- 上一篇文章 -->
      {if $prev_notice}
         	上一篇:<a href="notice.php?act=view&notice_id={$prev_notice.notice_id}" class="f6">{$prev_notice.title}</a><br />
       {/if}
        <!-- 下一篇文章 -->
       {if $next_notice}
         	下一篇:<a href="notice.php?act=view&notice_id={$next_notice.notice_id}" class="f6">{$next_notice.title}</a>
       {/if}
      </div>
   </div>
  <div class="blank"></div>
  <!-- #BeginLibraryItem "/library/comments.lbi" -->
<!-- #EndLibraryItem -->
    
                
</body>
</html>
