<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>考试成绩汇总</title>
    
    <script type="text/javascript">
       //公共变量初始化
       var select_prj = '{$select_prj}';
    </script>
    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="images/icon/favicon.ico" />

    <link href="../resource/easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../resource/easyui/themes/icon.css" type="text/css" />
    <link href="css/default.css" rel="stylesheet" type="text/css" />

    <script src="../resource/easyui/jquery.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>

    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/score_summary.js" type="text/javascript"></script>
    
</head>
<body class="easyui-layout">
    <noscript>
        <div style="position: absolute; z-index: 100000; height: 2046px; top: 0px; left: 0px;
            width: 100%; text-align: center;">
            <img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    
     <!-- 固定写法，用于加载ajax正在处理提示 -->
    <div id="loadingDiv" style="display:none;"></div>
    
    <div data-options="region:'north'" style="height:100px;margin-bottom:5px;">
          <form id="search_form" method="post" action="analysis.php?act=score_trend" style="margin-top:10px;">
                <table width="100%" cellspacing="1" cellpadding="0" border="0" class="form_table">
                    <tr>
                        <td style="text-align: right; width:80px;">考试名称：</td>
                        <td style="text-align: left; width:130px;">
                        	<select id="search_prj_id" name="search_prj_id" style="width:120px;">
                        		{foreach from=$prjs item=prj}
                        		<option value="{$prj.prj_id}">{$prj.name}</option>
                        		{/foreach}
                        	</select>
                        </td>
                        
                        <td style="text-align: left; width:430px;">
                        	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" id="search_btn" >查看汇总</a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                    	<td style="text-align: right; width:80px;">导出编码：</td>
                		<td style="text-align: left; width:130px;">
                			<select id="charset" style="width:120px;">
	                			<option value="">请选择编码格式...</option>
	                			<option value="UTF8">UTF8</option>
	                			<option value="GB2312">GB2312</option>
	                			<option value="GBK">GBK</option>
	                		</select>
                		</td>
                        <td style="text-align: left; width:430px;">
                        	<a href="javascript:void(0)" onclick="exportScore();" class="easyui-linkbutton" iconCls="icon-application_get" >导出成绩</a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
           </form>
     	</div>
     	
    <div data-options="region:'center'">
		  <div id="dgData" style="padding:10px;"></div>
    </div>
    
    
    <div id="import_window" class="easyui-window" closed="true" title="导入数据" style="width: 480px;
        height: 220px; padding: 0px;" >
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" fit="true" style="padding: 0px; background: #fff; border: 0px;">
                <form id="import_form" action="score_summary.php?act=import" name="import_form" method="post" enctype="multipart/form-data" style="padding-top:20px;text-align:center;">
                	<div class="warn">必须用下载模板中导出的模板才能导入</div>
                	<div style="text-align: center; margin-top:20px;"><input type="file" id="importFile" name="importFile"/></div>
                	<div style="text-align: center; margin-top:20px; height:35px; line-height: 10px; padding: 0px;">
		                <a onclick="importScore_import();" icon="icon-save" class="easyui-linkbutton" href="javascript:void(0)">确定</a>
		                <a onclick="$('#import_window').window('close');" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)" data-options="draggable:false">关闭</a>
		            </div>
                </form>
            </div>
            
        </div>
    </div>
    
</body>
</html>
