<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th> ID</th>
      <th>编号</th>
      <th>年级</th>
      <th>操作</th>
    </tr>
    {foreach from=$grade_list item=grade}
    <tr>
      <td style="text-align:center">{$grade.grade_id}</td>
      <td style="text-align:center">{$grade.code}</td>  
      <td style="text-align:center">{$grade.name}</td>
      <td align="center">
        <a href="javascript:void(0);" onclick="listTable.remove({$grade.grade_id}, '确认删除？')" title="删除"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a></td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="4">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

{if $full_page}
</div>
{include file="pagefooter.htm"}
{/if}