<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>值日记录</title>
    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="images/icon/favicon.ico" />

    <link href="../resource/easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../resource/easyui/themes/icon.css" type="text/css" />
    <link href="css/default.css" rel="stylesheet" type="text/css" />

    <script src="../resource/easyui/jquery.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>

    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/duty.js" type="text/javascript"></script>
    

    <script type="text/javascript">
    	var item_score = [];
    	{foreach from=$duty_items item=it}
    		item_score['{$it.name}']='{$it.score}';
		{/foreach}
    	
	    function setScore(o){
	    	$('#score').numberbox('setValue', item_score[o.value]);
	    }
    
    
    </script>
    <style type="text/css">
    	#add_window td{
    		font-size:10px;
    		text-align:left;
    	}
    	input[type=checkbox]{
    		width:24px;
    	}
    </style>
    
</head>
<body class="easyui-layout">
    <noscript>
        <div style="position: absolute; z-index: 100000; height: 2046px; top: 0px; left: 0px;
            width: 100%; text-align: center;">
            <img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    
     <!-- 固定写法，用于加载ajax正在处理提示 -->
    <div id="loadingDiv" style="display:none;"></div>
    
    <div title="数据列表" region="center" style="height:300px;" border="false">
    	<table id="dgData" style="height:400px"></table>
    
     	<div id="toolbar" style="padding:5px;height:auto">
     	 <div style="margin-bottom:5px">
            <a href="javascript:void(0)" onclick="add();" class="easyui-linkbutton" iconCls="icon-add" >新增</a>
            <a href="javascript:void(0)" onclick="update();" class="easyui-linkbutton" iconCls="icon-edit" >修改</a>
            <a href="javascript:void(0)" onclick="deleteduty();" class="easyui-linkbutton" iconCls="icon-remove" >删除</a>
         </div>
    	 <div style="margin-bottom:5px;" >
          <form id="search_form" method="post">
                <table width="100%" cellspacing="1" cellpadding="0" border="0" class="form_table">
                    <tr>
                   		<td style="text-align: right; width:80px;">学生：</td>
                        <td style="text-align: left; width:150px;">
                        	<select id="search_student_code" name="search_student_code" style="width:110px;">
                        		<option value="">所有...</option>
                        		{foreach from=$tmp_students item=student}
                        		<option value="{$student.code}">{$student.code}-{$student.name}</option>
                        		{/foreach}
                        	</select>
                        </td>
                        
                        <td style="text-align: right; width:80px;">量化项目：</td>
                        <td style="text-align: left; width:150px;">
                        	<select id="search_name" name="search_name" style="width:110px;">
                        		<option value="">所有...</option>
                        		{foreach from=$duty_items item=it}
                        		<option value="{$it.name}">{$it.name}</option>
                        		{/foreach}
                        	</select>
                        </td>
                        
                        <td style="text-align: right; width:80px;">起始日期：</td>
                        <td style="text-align: left; width:120px;">
                            <input id="search_sdate" name="search_sdate" class="easyui-datebox" data-options="required:false"  maxlength="20" style="width: 110px" />
                        </td>
                        
                        <td style="text-align: right; width:80px;">截止日期：</td>
                        <td style="text-align: left; width:120px;">
                            <input id="search_edate" name="search_edate" class="easyui-datebox" data-options="required:false"  maxlength="20" style="width: 110px" />
                        </td>
                        
                        <td style="text-align: left; width:150px;">
                        	<a href="javascript:void(0)" onclick="searchdutys();" class="easyui-linkbutton" icon="icon-search">查找</a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
           </form>
     	</div>
    	<div style="margin-bottom:5px">
    		<table width="100%" cellspacing="1" cellpadding="0" border="0" class="form_table">
                	<tr>
                		<td style="text-align: right; width:80px;">编码：</td>
                		<td style="text-align: left; width:150px;">
                			<select id="charset" style="width:110px;">
                			<option value="">请选择导出编码格式...</option>
                			<option value="UTF8">UTF8</option>
                			<option value="GB2312">GB2312</option>
                			<option value="GBK">GBK</option>
                		</select>
                		</td>
                		<td style="text-align: left; width:160px;">
                        	<a href="javascript:void(0)" onclick="exportRank();" title="按日期范围导出量化排名表" class="easyui-linkbutton" icon="icon-page_excel">导出排名</a>
    						<a href="javascript:void(0)" onclick="exportdutys();" title="按查询条件导出量化明细" class="easyui-linkbutton" icon="icon-page_white_excel" >导出明细</a>
                        </td>
                        <td>&nbsp;</td>
                	</tr>
                </table>
    	</div>
     </div>
        
    </div>
    
    <div id="add_window" class="easyui-window" closed="true" title="添加" style="width: 800px;height: 440px; padding: 0px;" >
        <div class="easyui-layout" fit="true">
        	<form id="add_form" name="add_form" method="post">
        	<div region="north" border="false" split="true" style="text-align: center;  height:105px; line-height: 10px; padding: 0px;">
        		 <table width="100%" cellspacing="1" cellpadding="0" border="0" class="form_table" style="border:none;">
                	<tr>
                        <td style="width:96%">
                        	<table width="100%" >
                        		<tr>
                        			<td>
                        				<label title="选择所有学生" style="font-weight:bolder;">
                        					<input type="checkbox" onchange="all_student_check(this);"/>全部
                        				</label>
                        			</td>
                        		</tr>
                        		{foreach from=$students item=stds}
                        		<tr>
                        			{foreach from=$stds item=student}
                        			<td>
                        				<label title="学号：{$student.code}">
                        					<input type="checkbox" name="student_code" value="{$student.code}" title="{$student.code}"/>{$student.name}
                        				</label>
                        			</td>
                        			{/foreach}
                        		</tr>
                        		{/foreach}
                        	</table>
                        </td>
                    </tr>
                 </table>
        	</div>
            <div region="center" border="false" style="padding: 0px;  border: 0px;">
                <table width="100%" cellspacing="1" cellpadding="0" border="0" class="form_table" style="border:none;">
                    <tr>
                        <td style="width:96%" colspan="2">
                        	<table width="100%" >
                        		<tr style="font-weight:bolder;">
                        			<td>量化项目</td>
                        			<td>记录分数</td>
                        			<td>事发日期</td>
                        			<td>备注描述</td>
                        		</tr>
                        		{foreach from=$duty_items item=it}
                        		<tr>
                        			<td>
                        				<label>
                        					<input type="checkbox" name="duty_item" value="{$it.name}" duty_item_id="{$it.duty_item_id}"/>{$it.name}
                        				</label>
                        			</td>
                        			<td><input name="score" class="easyui-numberbox" data-options="required:true"  maxlength="4" value="{$it.score}" style="width: 114px" /></td>
                        			<td><input name="date_" id="{$it.duty_item_id}_date_" class="easyui-datebox"  maxlength="20" style="width: 120px" /></td>
                        			<td><input name="desc_" maxlength="200" style="width: 250px" /></td>
                        		</tr>
                        		{/foreach}
                        	</table>
                        </td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: center;  height:35px; line-height: 10px; padding: 0px;">
                <a id="add" icon="icon-add" class="easyui-linkbutton" href="javascript:void(0)">确定</a>
                <a id="btn_edit_cancel" onclick="$('#add_window').window('close');" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)" data-options="draggable:false">关闭</a>
            </div>
            </form>
        </div>
    </div>
    
    
    <div id="edit_window" class="easyui-window" closed="true" title="数据维护" style="width: 460px;
        height: 240px; padding: 0px;" >
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" fit="true" style="padding: 0px; background: #fff; border: 0px;">
                <form id="edit_form" name="edit_form" method="post" style="padding-top:20px;" onkeydown="if(event.keyCode==13) save();" onsubmit="return false;">
                
                <div title="隐藏参数">
                    <input type="hidden" id="duty_id" name="duty_id" value="0" />
                </div>
                
                <table width="100%" cellspacing="1" cellpadding="0" border="0" class="form_table">
                	<tr>
                        <th style="text-align: right">学生：</th>
                        <td style="width:70%">
                        	<select id="student_code" name="student_code" style="width:120px;">
                        		{foreach from=$tmp_students item=student}
                        		<option value="{$student.code}">{$student.code}-{$student.name}</option>
                        		{/foreach}
                        	</select>
                        </td>
                    </tr>
                    
                    <tr>
                        <th style="text-align: right">量化项目：</th>
                        <td style="width:70%">
                        	<select id="duty_item" name="duty_item" style="width:120px;" onchange="setScore(this);">
                        		{foreach from=$duty_items item=it}
                        		<option value="{$it.name}">{$it.name}</option>
                        		{/foreach}
                        	</select>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: right">记录分数：</th>
                        <td><input id="score" name="score" class="easyui-numberbox" data-options="required:true"  maxlength="20" style="width: 114px" /></td>
                    </tr>
                    <tr>
                        <th style="text-align: right">事发日期：</th>
                        <td><input id="date_" name="date_" class="easyui-datebox"  maxlength="20" style="width: 120px" /></td>
                    </tr>
                    <tr> 
                        <th style="text-align: right">备注描述：</th>
                        <td>
                        	<!-- <textarea id="desc_" name="desc_" rows="4" cols="30"></textarea>  -->
                        	<input type="text" id="desc_" name="desc_" maxlength="200" style="width: 250px"  />
                       	</td>
                    </tr>
                </table>
                </form>
            </div>
            <div region="south" border="false" style="text-align: center;  height:35px; line-height: 10px; padding: 0px;">
                <a id="save" icon="icon-save" class="easyui-linkbutton" href="javascript:void(0)">确定</a>
                <a id="btn_edit_cancel" onclick="me.edit_window.window('close');" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)" data-options="draggable:false">关闭</a>
            </div>
        </div>
    </div>
  
</body>
</html>
