<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>学生花名册</title>
    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="images/icon/favicon.ico" />

    <link href="../resource/easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../resource/easyui/themes/icon.css" type="text/css" />
    <link href="css/default.css" rel="stylesheet" type="text/css" />

    <script src="../resource/easyui/jquery.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../resource/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>

    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/student.js" type="text/javascript"></script>
    

    <script type="text/javascript">
       //公共变量初始化
    </script>
</head>
<body class="easyui-layout">
    <noscript>
        <div style="position: absolute; z-index: 100000; height: 2046px; top: 0px; left: 0px;
            width: 100%; text-align: center;">
            <img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    
     <!-- 固定写法，用于加载ajax正在处理提示 -->
    <div id="loadingDiv" style="display:none;"></div>
    
    <div title="数据列表" region="center" style="height:300px;" border="false">
    	<table id="dgData" style="height:400px"></table>
    
     	<div id="toolbar" style="padding:5px;height:auto">
     	 <div style="margin-bottom:5px">
            <a href="javascript:void(0)" onclick="add();" class="easyui-linkbutton" iconCls="icon-add" >新增</a>
            <a href="javascript:void(0)" onclick="update();" class="easyui-linkbutton" iconCls="icon-edit" >修改</a>
            <a href="javascript:void(0)" onclick="deleteStudent();" class="easyui-linkbutton" iconCls="icon-remove" >删除</a>
            <a href="javascript:void(0)" onclick="changePwd();" class="easyui-linkbutton" iconCls="icon-cog_edit" >重置密码</a>
            <a href="javascript:void(0)" onclick="importStudents();" class="easyui-linkbutton" iconCls="icon-application_put" >导入</a>
            <a href="javascript:void(0)" onclick="exportStudents();" class="easyui-linkbutton" iconCls="icon-application_get" >导出</a>
            <a href="javascript:void(0)" onclick="template();" class="easyui-linkbutton" iconCls="icon-arrow_down" >下载模板</a>
         </div>
    	 <div style="height:40px;margin-bottom:5px;" >
          <form id="search_form" method="post">
                <table width="100%" cellspacing="1" cellpadding="0" border="0" class="form_table">
                    <tr>
                        <td style="text-align: right; width:80px;">姓名：</td>
                        <td style="text-align: left; width:150px;">
                            <input id="search_name" name="search_name" style="width: 150px;" />
                        </td>
                        
                         <td style="text-align: right; width:80px;">家长电话：</td>
                        <td style="text-align: left; width:150px;">
                            <input id="search_guardian_phone" name="search_guardian_phone" type="text" class="easyui-validatebox" data-options="required:false" maxlength="20" validType="telephone" style="width: 150px" />
                        </td>
                        
                        <td style="text-align: right; width:100px;">是否已经注册：</td>
                        <td style="text-align: left; width:80px;">
                        	<select id="search_is_active" name="search_is_active" >
                        		<option value="">所有...</option>
                        		<option value="1">是</option>
                        		<option value="0">否</option>
                        	</select>
                        </td>
                        
                        <td style="text-align: left; width:150px;">
                        	<a href="javascript:void(0)" onclick="searchStudents();" class="easyui-linkbutton" icon="icon-search">查找</a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
           </form>
     	</div>
     </div>
        
    </div>
    
    
    <div id="edit_window" class="easyui-window" closed="true" title="数据维护" style="width: 480px;
        height: 480px; padding: 0px;" >
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" fit="true" style="padding: 0px; background: #fff; border: 0px;">
                <form id="edit_form" name="edit_form" method="post" style="padding-top:20px;">
                
                <div title="隐藏参数">
                    <input type="hidden" id="student_id" name="student_id" value="0" />
                </div>
                
                <table width="100%" cellspacing="1" cellpadding="0" border="0" class="form_table">
                	<tr>
                        <th style="text-align: right">学号：</th>
                        <td style="width:70%"><input id="code" name="code" type="text" class="easyui-validatebox" data-options="required:true" maxlength="10" style="width: 200px" /><span style="color:red;">必须唯一</span></td>
                    </tr>
                    <tr>
                        <th style="text-align: right">姓名：</th>
                        <td style="width:70%"><input id="name" name="name" type="text" class="easyui-validatebox" data-options="required:true" maxlength="10" style="width: 200px" /></td>
                    </tr>
                    <tr>
                        <th style="text-align: right">宿舍：</th>
                        <td style="width:70%"><input id="dorm" name="dorm" type="text" maxlength="10" style="width: 200px" /></td>
                    </tr>
                    <tr>    
                        <th style="text-align: right">性别：</th>
                        <td>
                        <label><input type="radio" value="1" name="sexuality" checked="true" style="width:20px;"/>男</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;<label><input type="radio" value="0" name="sexuality" style="width:20px;"/>女</label>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: right">生日：</th>
                        <td><input id="birthday" name="birthday" type="text" maxlength="20" style="width: 200px" /></td>
                    </tr>
                    <tr>
                        <th style="text-align: right">民族：</th>
                        <td><input id="national" name="national" value="汉族" type="text" maxlength="20" style="width: 200px" /></td>
                    </tr>
                    <tr>
                        <th style="text-align: right">身份证：</th>
                        <td><input id="id_card" name="id_card" type="text" maxlength="20" style="width: 200px" /></td>
                    </tr>
                    <tr> 
                        <th style="text-align: right">电话：</th>
                        <td><input id="phone" name="phone" type="text" class="easyui-validatebox" maxlength="20" validType="telephone" style="width: 200px" /></td>
                    </tr>
                    <tr> 
                        <th style="text-align: right">QQ：</th>
                        <td><input id="phone" name="qq" type="text" class="easyui-numberbox" maxlength="20" style="width: 200px" /></td>
                    </tr>
                    <tr> 
                        <th style="text-align: right">邮箱：</th>
                        <td><input id="email" name="email" type="text" class="easyui-validatebox" maxlength="20" validType="email" style="width: 200px" /></td>
                    </tr>
                     <tr>
                        <th style="text-align: right">地址：</th>
                        <td><input id="address" name="address" type="text" class="easyui-validatebox" maxlength="60" style="width: 200px" /></td>
                      </tr>
                      
                    <tr>
                        <th style="text-align: right">家长姓名：</th>
                        <td style="width:70%"><input id="guardian_name" name="guardian_name" type="text" class="easyui-validatebox" data-options="required:true" maxlength="10" style="width: 200px" /></td>
                    </tr>
                    <tr> 
                        <th style="text-align: right">家长电话：</th>
                        <td><input id="guardian_phone" name="guardian_phone" type="text" class="easyui-validatebox" data-options="required:true" maxlength="20" validType="telephone" style="width: 200px" />
                        	<a class="easyui-tooltip" icon="icon-help" title="该项为必输项，请填手机号码，这是家长注册与短信通知的唯一号码"  ><span >重要</span></a>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: right">与家长关系：</th>
                        <td>
                        	<select id="guardian_relation" name="guardian_relation" >
                        		<option value="父子">父子</option>
                        		<option value="父女">父女</option>
                        		<option value="母子">母子</option>
                        		<option value="母女">母女</option>
                        		<option value="其他">其他</option>
                        	</select>
                        </td>
                    </tr>
                      <tr>
                        <th style="text-align: right">是否已离校：</th>
                        <td>
                        <label><input type="radio" value="0" name="has_left" checked="true" style="width:20px;"/>否</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;<label><input type="radio" value="1" name="has_left" style="width:20px;"/>是</label>
                        </td>
                      </tr>
                </table>
                </form>
            </div>
            <div region="south" border="false" style="text-align: center;  height:35px; line-height: 10px; padding: 0px;">
                <a id="save"  icon="icon-save" class="easyui-linkbutton" href="javascript:void(0)">确定</a>
                <a id="btn_edit_cancel" onclick="me.edit_window.window('close');" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)" data-options="draggable:false">关闭</a>
            </div>
        </div>
    </div>
    
    
    <div id="import_window" class="easyui-window" closed="true" title="导入数据" style="width: 480px;
        height: 220px; padding: 0px;" >
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" fit="true" style="padding: 0px; background: #fff; border: 0px;">
                <form id="import_form" action="student.php?act=import" name="import_form" method="post" enctype="multipart/form-data" style="padding-top:20px;text-align:center;">
                	<div><input type="file" id="importFile" name="importFile"/></div>
                	<div style="text-align: center; margin-top:50px; height:35px; line-height: 10px; padding: 0px;">
		                <a onclick="importStudents_import();" icon="icon-save" class="easyui-linkbutton" href="javascript:void(0)">确定</a>
		                <a onclick="$('#import_window').window('close');" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)" data-options="draggable:false">关闭</a>
		            </div>
            
                </form>
            </div>
            
        </div>
    </div>
    
                
</body>
</html>
