<!-- $Id: shop_config_mail_settings.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js"}

<form method="POST" action="license.php?act=createLicense" name="theForm" onsubmit="return validate(this);">
<div class="main-div"><p style="padding: 0 10px;color:red;">
注意事项：<br/>
	1、注册码一旦生成将不能删改；<br/>
	2、注册码由一定特殊规则组成，具有唯一性，一旦在系统中删除带此注册码数据，系统将永远找不回此注册码；<br/>
	3、注册码可以无限生成；<br/>
	4、必须是超级管理员才能创建注册码。<br/>
</p></div>

<div class="main-div">
  <table style="width:100%;" >
    <tr>
      <td class="label">需要生成的注册码数量:</td>
      <td>
        <input type="text" name="sum" value="100" />{$lang.require_field}
      </td>
   </tr>
    
    <tr> 
      <td class="label">生效日期(格式：yyyy-MM-dd):</td>
      <td>
        <input type="text" name="sdate" id="sdate" />{$lang.require_field}
      </td>
   </tr>
    
    <tr>   
      <td class="label">失效日期(格式：yyyy-MM-dd):</td>
      <td>
        <input type="text" name="edate" id="edate" />{$lang.require_field}
      </td>
      
    </tr>
    <tr><td>&nbsp;</td><td><div style="color:red;text-align:left;" id="warn"></div></td></tr>
    
    <tr>
      <td>&nbsp;</td>
      <td align="left">
        <input name="submit" type="submit" value="{$lang.button_submit}" class="button" />
        <input name="reset" type="reset" value="{$lang.button_reset}" class="button" />
        <input name="type" type="hidden" value="mail_setting" class="button" />
      </td>
    </tr>
  </table>
</div>
</form>

{literal}
<script type="text/javascript" language="JavaScript">

<!--
function validate(o)
{
	var sum = document.forms['theForm'].elements['sum'];
	if(!sum.value){
		document.forms['theForm'].elements['sum'].focus();
		document.getElementById('warn').innerHTML = "需要生成的注册码数量不能为空！";
		return false;
	}
	
	var sdate = document.forms['theForm'].elements['sdate'];
	if(!sdate.value){
		document.forms['theForm'].elements['sdate'].focus();
		document.getElementById('warn').innerHTML = "生效日期不能为空！";
		return false;
	}
	
	var edate = document.forms['theForm'].elements['edate'];
	if(!edate.value){
		document.forms['theForm'].elements['edate'].focus();
		document.getElementById('warn').innerHTML = "失效日期不能为空！";
		return false;
	}
	
	if(!confirm("是否确认导出"+sum.value+"个注册码？一旦确认，注册码生成后将不能够删除！")){
		return false;
	}
	return true;
}


/**
 * 邮件发送的反馈信息
 */
function emailResponse(result)
{
  alert(result.message);
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}