<!-- $Id: admin_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
  <form action="javascript:searchLicense()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
     &nbsp;学校&nbsp;
     <select name="school_code" onchange="loadClass(this);">
     	<option value="">所有...</option>
     	{foreach from=$schools item=list}
    	<option value="{$list.code}" >{$list.name}</option>
    	{/foreach}
     </select>
     &nbsp;班级&nbsp;
     <select name="class_code" id="class_code">
     	<option value="">所有...</option>
     </select>
     &nbsp;是否已付款&nbsp;
     <select name="has_pay">
     	<option value="">所有...</option>
     	<option value="0">否</option>
     	<option value="1">是</option>
     </select>
      &nbsp;生效日期&nbsp;<input type="text" name="sdate" />
      &nbsp;失效日期&nbsp;<input type="text" name="edate" />
       <input type="submit" value="{$lang.button_search}" />
       <input type="button" value="按条件导出" onclick="exportLicense(this);"/>
  </form>
</div>


<div class="list-div" id="listDiv">
{/if}

<table cellspacing='1' cellpadding='3' id='list-table'>
  <tr>
    <th>ID</th>
    <th>学校</th>
    <th>班级</th>
    <th>学生</th>
    <th>注册码</th>
    <th>生效日期</th>
    <th>失效日期</th>
    <th>是否已付款</th>
    <th>注册使用时间</th>
  </tr>
  {foreach from=$license_list item=list}
  <tr>
    <td class="first-cell" >{$list.license_id}</td>
    <td align="center">{$list.schoo_name}</td>
    <td align="center">{$list.class_name}</td>
    <td align="center">{$list.student_name}</td>
    <td align="center">{$list.license}</td>
    <td align="center">{$list.sdate}</td>
    <td align="center">{$list.edate}</td>
    <td align="center">
    <img src="images/{if $list.pay_id eq 0}no{else}yes{/if}.gif" />
    </td>
    <td align="center">{$list.regtime|default:未使用}</td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="9">{$lang.no_records}</td></tr>
  {/foreach}
  <tr>
      <td align="right" nowrap="true" colspan="9">
      {include file="page.htm"}
      </td>
  </tr>
</table>

{if $full_page}
</div>

<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}

/**
 * 搜索用户
 */
function searchLicense()
{
    listTable.filter['has_pay'] = Utils.trim(document.forms['searchForm'].elements['has_pay'].value);
    listTable.filter['school_code'] = Utils.trim(document.forms['searchForm'].elements['school_code'].value);
    listTable.filter['class_code'] = Utils.trim(document.forms['searchForm'].elements['class_code'].value);
    listTable.filter['sdate'] = Utils.trim(document.forms['searchForm'].elements['sdate'].value);
    listTable.filter['edate'] = Utils.trim(document.forms['searchForm'].elements['edate'].value);
    
    listTable.filter['page'] = 1;
    listTable.loadList();
}

/**
 * 根据条件导出注册码
 */
function exportLicense(o){
	var has_pay = Utils.trim(document.forms['searchForm'].elements['has_pay'].value);
    var school_code = Utils.trim(document.forms['searchForm'].elements['school_code'].value);
    var class_code = Utils.trim(document.forms['searchForm'].elements['class_code'].value);
    var sdate = Utils.trim(document.forms['searchForm'].elements['sdate'].value);
    var edate = Utils.trim(document.forms['searchForm'].elements['edate'].value);
    window.open("license_statistics.php?act=export&has_pay="+has_pay+"&sdate="+sdate+"&edate="+edate+"&school_code="+school_code+"&class_code="+class_code);
}

function loadClass(o){
	var school_code = o.value;
	if(school_code){
		Ajax.call('license_statistics.php?is_ajax=1&act=load_class',
		        'school_code=' + school_code, loadClass_res , 'POST', 'JSON');
	}else {
		document.getElementById("class_code").options.length=0;
		document.getElementById("class_code").options.add(new Option("所有...",""));
	}
}

function loadClass_res(r){
	console.dir(r);
	document.getElementById("class_code").options.length=0;
	document.getElementById("class_code").options.add(new Option("所有...",""));
	var classs = r.content;
	for(var i=0;i<classs.length;i++){
		document.getElementById("class_code").options.add(new Option(classs[i].name,classs[i].code));
	}
	
}

//-->
</script>
{/literal}

{include file="pagefooter.htm"}
{/if}
